@import '../../styles/core.scss';

.modal {
  position: absolute;
  z-index: 200;
  min-width: 350px;
  background: white;
  border: 1px solid #ccc;
  transition: 2s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);

  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
    button {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}