@import '../../styles/core.scss';

.modal {
  position: absolute;
  z-index: 200;
  min-width: 350px;
  background: white;
  border: 1px solid #ccc;
  transition: 2s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);

  .content {
    padding: 1rem;
  }
  .actions {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}