@import "../../styles/core.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  min-width: 350px;
  background: white;
  border: 1px solid #ccc;
  transition: 2s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  @include md {
    max-width: 600px;
    max-height: 600px;
  }

  .content {
    padding: 1rem;
  }

}

.close {
  &_button {
    border: none;
    height: 30px;
    width: 30px;
    display: inherit;
    position: absolute;
    right: 45px;
    top: 60px;
    transform: translateY(-50%);
    z-index: 6;
    &:before {
      content: "";
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $confirm-color;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
    &:after {
      content: "";
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $confirm-color;
      display: block;
      position: absolute;
      bottom: 50%;
      transform: translateY(50%) rotate(45deg);
    }
  }
}

.editClose {
  top: 40px;
  right: 25px;
}

.edit {
    min-height: 760px;
}
