@import "../../styles//mixins";
@import "../../styles/variables.scss";

.button {
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;
  height: 1.5rem;
  margin-right: 1rem;
  width: 4rem;
  border-width: 1px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}

.button:hover {
  @include button-active;

  color: $black;
  background-color: $white;
  border: 2px solid transparent;
}

.danger {
  color: $danger-color;
  border-color: $danger-color;
  background-color: transparent;
}

.confirm {
  width: auto;
  height: 4rem;;
  color: $confirm-color;
  border-color: $confirm-color;
  background-color: transparent;
}
.details {
  color: $color-tertiary-dark;
  border-color: $color-tertiary-dark;
  background-color: $details-color;
}

.danger:hover {
  color: $white;
  background-color: $danger-color;
}

.confirm:hover {
  color: $white;
  background-color: $confirm-color;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}