@import "../../styles//mixins";
@import "../../styles/variables.scss";

.button {
  border: 0;
  font-size: 1rem;
  height: 2rem;
  margin-right: 1rem;
  width: 6rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: $white;
  letter-spacing: 2px;
  color: $white;
  background-color: transparent;
}

.button:hover {
  @include button-active;
  background-color: $white;
  border: 2px solid transparent;
}

.danger {
  border: 0;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  color: $color-secondary-dark;
  border-color: $danger-color;
  background-color: transparent;
  &:hover {
    color: $danger-color;
    border:none;
    background-color: transparent;
  }
}

.confirm {
  font-weight: 300;
  letter-spacing: 2px;
  color: $base-font-color;
  border-color: $color-primary-dark;
  background-color: transparent;
  &:hover {
    color: $white;
    background-color: $confirm-color;
  }
  
}

.cancel {
  font-weight: 300;
  letter-spacing: 2px;
  color: $base-font-color;
  border-color: $color-primary;
  background-color: transparent;
  &:hover {
    color: $white;
    background-color: $color-primary;
  }
}

.details {
  border: 0;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;;
  color: $color-secondary-dark;
  border-color: $details-color;
  background-color: transparent;
  &:hover {
    color: $color-tertiary-dark;
    background-color: transparent;
    border:none;
  }
  &_lg:hover {
    color: $white;
    background-color: $confirm-color;
    border-color: $confirm-color;
    width: 8rem;
  }
  &_lg {
    color: $base-font-color;
    border-color: $color-primary-dark;
    background-color: transparent;
    width: 8rem;
  }
}

.edit {
  border: 0;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;;
  color: $color-secondary-dark;
  border-color: $details-color;
  background-color: transparent;
  &:hover {
    color: $color-tertiary-dark;
    background-color: transparent;
    border:none;
  }
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}