@import '../../styles/core.scss';

.container {
  max-width: 400px;
  margin: 0 auto;
}

.form {
  background: $color-primary-dark;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 5px;
}

.error {
  text-align: center;
  color: $danger-color;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

input, select {
  display: block;
  box-sizing: border-box;
  width: 70%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $white;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: $base-font-color;
  background-color: $color-primary-light;
}

label {
  line-height: 1.5;
  text-align: left;
  padding-left: 65px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 20px;
  color: $color-primary-light;
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-small;
  font-weight: 300;
}

button[type="submit"],
input[type="submit"] {
  height: 60px;
  background: $confirm-color;
  color: $color-primary-light;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: $color-tertiary-light;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: $color-grey-dark-3;
  color: $white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}



//////////////Download file styles
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

[type="file"] + label {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-size: inherit;
  outline: none;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.3s;

  
  &:hover {
    background-color: darken(#f15d22, 10%);
  }
  
  &.btn_3 {
    text-align: center;
    width: 70%;
    background-color: $color-tertiary-light;
    overflow: hidden;
    
    span {
      display: inline-block;
      height: 100%;
      transition: all 0.3s;
      width: 100%;
    }
    
    &::before {
      color: #fff;
      content: "\f255";
      font-family: "Ionicons";
      font-size: 130%;
      height: 100%;
      left: 0;
      line-height: 2;
      position: absolute;
      top: -180%;
      transition: all 0.3s;
      padding-left: 20px;
      //width: 100%;
    }

    &:hover {
      background-color: darken(#ee6d9e, 30%);
      
      span {
        transform: translateY(300%);
      }
        
      &::before {
        top: 0;
      }
    }
  }
}

.file_container {
  text-align: center;
  &_name{
    padding-top: 10px;
    padding-left: 60px;
    display: block;
    height: 30px;
    text-align: start;
    color: $white;
  }
}