@import '../../styles/core.scss';

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
}

.radios {
  width: 230px;
  margin: 50px;
  background: $color-primary-light;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-primary-dark;
    text-align: left;
    padding-right: 5px;
    position: relative;
    display: block;
    font-size: 18px;
    padding: 0px 0;
    margin: 0px;
  }

  input[type="radio"] {
    position: absolute; 
    visibility: hidden !important;
  }

  input[type="radio"] + label {

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -7.5px;
      box-sizing: border-box;
    }

    &:before {

      width: 30px;
      height: 15px;
      right: 0px;
      background: #fff;
      border: 1px solid #e4e3e1;
      border-radius: 15px;
    }

    &:after {
      width: 15px;
      height: 15px;
      right: 15px;
      background: #BDBDBD;
      border-radius: 50%;
      transition: all 200ms ease-out;
    }
  }

  input[type="radio"]:checked + label {

    &:after {
      right: 0px;
      background: #FF9800;
    }
  }
}

.postal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.postalBox {
  border: solid;
  border-color: $color-primary-dark;
  border-width: thin;
  color: $color-primary-dark;
  width: 200px;
  margin-right: 20px;
}

.postalSearch {
  color: $color-primary-dark;
}

.postalLabel {
  display: none;
}