@import '../../styles//core.scss';

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.manage {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  background-color: $color-primary;

  .banner {
    margin-top: 50px;
    color: $color-primary-light;
  }

  .benefits {
    margin-top: 10px;
    margin-bottom: 70px;
    color: $color-primary-light;
    font-size: $font-size-large;
    list-style-type: none;
    text-align: center;
  }

  .directions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-primary-light;
    font-size: $font-size-base;
    width: 80%;

    li {
      width: 175px;
      margin-right: 20px;
    }

  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-primary-light;
    text-align: center;
    width: 80%;

    li {
      width: 175px;
    }
  }

}