@import '../../../styles/core.scss';

.container {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $color-tertiary-light;
  border-radius: 6px;
  background-color: $color-primary-light;
  margin: 20px;
  padding: 20px 0;
}

.title {
  font-size: $font-size-large;
  font-weight: 600;
}

.photo {
  max-width: 200px;
  max-height: 300px;
  margin: auto;
  & img {
    width: 100%;
    height: 100%;
  }
}

.actions {
  text-align: center;
  padding: 1rem;
  height: 100px;
}