@import '../../../styles/core.scss';

.container {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0px solid $color-tertiary-light;
  border-radius: 6px;
  background-color: $color-secondary-light;
  box-shadow: 8px 10px 4px -5px rgba(168,168,168,0.6);
  margin: 20px;
  padding: 5px;
  &_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    &_row {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      &_heading {
        display: inline-block;
        font-size: 16px;
        color: $base-font-color;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 10px;
      }
      & > p {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        color: $color-primary-dark;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    
  }
}

.title {
  font-size: $font-size-large;
  color: $color-primary-dark;
  font-weight: 600;
}

.photo {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  border-radius: 10px;
  &_modal {
    max-width: 420px;
    max-height: 420px;
    margin-right: 10px;
    border-radius: 20px;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

.actions {
  text-align: center;
  padding: 1rem;
  height: 100px;
}

.datail_container {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: $color-secondary-light;
  color: $color-primary-dark;
  box-shadow: 8px 10px 4px -5px rgba(168,168,168,0.6);
  margin: 20px;
  padding: 5px;
  // height: 600px;

  &_container {
    color: $color-primary-dark;

    &_title {
      margin: 5px;
      margin-left: 10px;
    }
    &_heading {
      color: $base-font-color;
      margin-top: 5px;
      margin-bottom: 0px;
      margin-left: 10px;
    }

    & p {
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  &_images {
    display: flex;
    flex-direction: row;

    &_map {
      border-radius: 20px;
      border: 1px;
      border-style: solid;
      border-color: $color-primary-dark;
      max-width: 420px;
      max-height: 420px;
    }
  }
  
}