@import '../../../styles/core.scss';

.container {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0px solid $color-tertiary-light;
  border-radius: 6px;
  background-color: $color-secondary-light;
  box-shadow: 8px 10px 4px -5px rgba(168,168,168,0.6);
  margin: 20px;
  padding: 5px;
  &_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & span {
      padding-left: 10px;
    }
    & p {
      font-family: 'Montserrat', sans-serif;
      color: $color-primary-dark;
      font-size: 18px;
    }
  }
}

.title {
  font-size: $font-size-large;
  color: $color-primary-dark;
  font-weight: 600;
}

.photo {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  &_modal {
    max-width: 420px;
    max-height: 420px;
    margin-right: 10px;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

.actions {
  text-align: center;
  padding: 1rem;
  height: 100px;
}

.datail_container {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details {
  border-radius: 6px;
  background-color: $color-secondary-light;
  color: $color-primary-dark;
  box-shadow: 8px 10px 4px -5px rgba(168,168,168,0.6);
  margin: 20px;
  padding: 5px;
  
}