@import '../../styles/core.scss';
.nav {
  background-color: $color-primary-light;
	display: flex;
	justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 25px;
  &__list {
    min-width: 400px;
    color: $color-tertiary-dark;
		display: flex;
		justify-content: space-around; 
		@include sm {
			display: none;
		}
	}
}